.App {
  min-height: 100%;
  display: flex;
  /* align-items: center; */
  overscroll-behavior: none;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.side-panel {
  height: 100vh;
  background-color: #3a3a75;
  position: relative;
}

.side-panel.on {
  flex: 0 0 20vw;
  transition-duration: 0.5s;
}

.side-panel.off {
  flex: 0 0 4vw;
  transition-duration: 0.5s;
}

.linkTo {
  text-decoration: none;
}

.side-panel-switch {
  width: 3vw;
  height: 3vw;
  position: absolute;
  right: -1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border-style: solid;
  border-color: #3a3a75;
  border-width: 2px;
  cursor: pointer;
  transition: 1s;
  z-index: 10;
}

.side-panel-switch.off {
  transform: translateX(-67%);
  transition-duration: 0.5s;
}

.side-panel-row-1st {
  margin-top: 15vh;
}

.side-panel-row {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  color: white;
  transition: 0.4s;
  min-width: 10px;
}

.side-panel-row:hover {
  background-color: #2d2955;
  padding-left: 20%;
}

#check {
  display: none;
}


#protocol-overview-canvas, #stage-overview-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  height: 100vh;
}

.stage-detail-canvas {
  flex: 1 1 auto;
  height: 100vh;
}

.single-stage-canvas {
  width: 15vw;
  height: 33vh;
  background-color: #3a3a75;
}

.stage-canvas-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-protocol-canvas {
  width: 26vw;
  height: 56vh;
  margin-top: 4vh;
  margin-bottom: 4vh;
  background-color: #3a3a75;
}

.big-btn {
  width: 24vw;
  height: 11vh;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  background-color: #e22e58;
  color: white;
}

.protocol-stage-info {
  margin-top: 4vh;
  font-weight: bold;
  font-size: 20px;
}

.protocol-stage-info .row .col {
  text-align: center;
}

.bullet-point {
  width: 1.2vh;
  height: 1.2vh;
  border-radius: 50%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}


.input-box{
  height: 6vh;
  border: none;
  border-radius: 50px;
  outline: none;
}

.input-box.on {
  width: 20vw;
  transition-duration: 0.15s;
}

.input-box.off {
  width: 0px;
  padding: 0;
  transition-duration: 0.15s;
}

.name-generator-input {
  display: flex;
  width: fit-content;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  top: auto;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

.input-wrapper {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
  border-radius: 50px;
  border-color: #3a3a75;
  background-color: #ffffff;
}

.input-wrapper.on {
  width: 22vw;
  transition-duration: 0.15s;
}

.input-wrapper.off {
  width: 0px;
  opacity: 0;
  transition-duration: 0.15s;
}

.name-generator-operation {
  height: 85vh;
  margin-top: 10vh;
}

.trash-can {
  font-size: 5em;
  top: 0;
  position: relative;
  z-index: 1;
  color: #00c9a2;
}

.trash-can.on {
  fill-opacity: 1;
  transform: translateY(-30%);
  transition-duration: 0.15s;
}

.trash-can.off {
  fill-opacity: 0;
  transition-duration: 0.15s;
}



.scene-switch {
  width: 200px;
  margin-top: 20px;
  background-color: #3a3a75;
  border-radius: 50px;
  padding-left: 5px;
  color: #ffffff;
  border: 2px solid white;
  cursor: pointer;
}

.scene-switch.on {
  transform: translateX(35%);
  transition-duration: 0.15s;
}

.scene-switch.off {
  transform: translateX(60%);
  transition-duration: 0.15s;
}

.edge-node {
  display: inline-block;
  width: fit-content;
  position: absolute;
  z-index: 99;
}

.bin {
  width: 18%;
  height: 80%;
  margin-top: auto;
  margin-bottom: 0px;
}


.circle-background {
  aspect-ratio: 1 / 1;
  background-color: #3a3a75;
  position: absolute;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.circle-background.circle1 {
  width: 50%;
  opacity: 0.4;
}

.circle-background.circle2 {
  width: 37%;
  opacity: 0.6;
}

.circle-background.circle3 {
  width: 24%;
  opacity: 1;
}

.circle-background.circle1.on {
  margin-left: 15%;
  transition-duration: 1s;
}

.circle-background.circle2.on {
  margin-left: 21.5%;
  transition-duration: 0.5s;
}

.circle-background.circle3.on {
  margin-left: 28%;
  transition-duration: 0.5s;
}

.circle-background.circle1.off {
  margin-left: 23%;
  transition-duration: 0.5s;
}

.circle-background.circle2.off {
  margin-left: 29.5%;
  transition-duration: 0.5s;
}

.circle-background.circle3.off {
  margin-left: 36%;
  transition-duration: 0.5s;
}

.unsure-bin {
  width: 15vw;
  height: 80vh;
  background-color: #ffffff;
  position: absolute;
  margin-left: 5vw;
  text-align: center;
  font-size: 20px;
  top: 10vh;
  bottom: 10vh;
}

.coordinate-bin {
  width: 80vh;
  height: 80vh;
  background-color: #eb8a67;
  position: absolute;
  margin-left: 23vw;
  top: 10vh;
  bottom: 10vh;
}

.upper-left-bin {
  width: 40vh;
  height: 40vh;
  background-color: #edc2b2;
  position: absolute;
}

.upper-right-bin {
  width: 40vh;
  height: 40vh;
  background-color: #a5f2ec;
  position: absolute;
  margin-left: 40vh;
}

.bottom-left-bin {
  width: 40vh;
  height: 40vh;
  background-color: #d8f28a;
  position: absolute;
  margin-top: 40vh;
}

.horizontal-line {
  width: 75vh;
  height: 5px;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #000000;
  left: 0;
  right: 0;
}

.vertical-line {
  width: 5px;
  height: 70vh;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000000;
}

.upper-text {
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
}

.bottom-text {
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  margin: auto;
}

.left-upper-text {
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 1;
  top: 48%;
  bottom: 52%;
  margin: auto;
}

.left-bottom-text {
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 1;
  top: 52%;
  bottom: 48%;
  margin: auto;
}

.right-upper-text {
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 1;
  right: 0;
  left: auto;
  top: 48%;
  bottom: 52%;
  margin: auto;
}

.right-bottom-text {
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 1;
  right: 0;
  left: auto;
  top: 52%;
  bottom: 48%;
  margin: auto;
}

.node-start-place {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  margin: auto;
}

.protocol-switch {
  width: 10vw;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;
  margin: auto;
  z-index: 20;
}

.switch {
  height: fit-content;
  position: absolute;
  z-index: 1;
}

.switch.up {
  cursor: pointer;
  color: #3a3a75;
}

.switch.down {
  cursor: pointer;
  color: #3a3a75;
}

.prompt-title {
  width: auto;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: white;
}

.option-bar-wrapper {
  height: 60%;
  /* background-color: #3a3a75; */
  width: 100%;
  /* opacity: 0.9; */
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.option-bar {
  width: 20%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.option-link {
  width: fit-content;
  display: inline-block;
}

.option-icon-wrapper {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.goto-stage {
  cursor: pointer;
}

.stage-prompt {
  width: 20vw;
  height: 20vh;
  background-color: #00c9a2;
  position: absolute;
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  margin: auto;
}

.prompt-text {
  width: 100%;
  height: 20%;
  text-align: center;
}

.prompt-btn-wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uid-canvas {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff50;
  /* opacity: 0.5; */
  position: absolute;
  z-index: 99;
}

.uid-generator-wrapper {
  width: 50%;
  height: 50%;
  background-color: #3a3a75;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.uid-btn {
  width: 50%;
  /* height: 25%; */
  background-color: #e22e58;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.uid-generator-switch {
  width: fit-content;
  position: absolute;
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.uid-btn, .uid-input{
  width: 200px;
  height: 15%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  /* left: 0;
  right: 0;
  top: 50px;
  bottom: auto;
  margin: auto; */
  /* position: absolute; */
  border-radius: 10px;
}

.protocol-title {
  /* width: 100vw; */
  height: 10vh;
  /* display: flex;
  justify-content: center; */
  background-color: #00c9a2;
  /* position: absolute; */
  color: #ffffff;
  font-size: 20px;
}

.instruction-card-wrapper {
  width: 400px;
  height: fit-content;
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  margin: auto;
}

.instruction-card-open {
  border-radius: 10px;
  width: 400px;
  height: 150px;
  background-color: #00c9a2;
  position: relative;
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  z-index: 2;
  margin: auto;
}

.instruction-card-closed {
  border-radius: 10px;
  width: 400px;
  height: 50px;
  background-color: #00c9a2;
  position: relative;
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  z-index: 2;
  margin: auto;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  cursor: pointer;
}

.card-text {
  width: 400px;
  height: 120px;
  position: absolute;
  /* background-color: #a5f2ec; */
  padding-top: 10px;
}

.card-minimize {
  left: auto;
  right: 0;
  position: absolute;
  margin: auto;
  cursor: pointer;
}

.card-left-icon {
  width: fit-content;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  position: absolute;
  margin: auto;
  cursor: pointer;
}

.card-right-icon {
  width: fit-content;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  position: absolute;
  margin: auto;
  cursor: pointer;
}

.ego-form {
  width: 50%;
  height: 90%;
  position: absolute;
  /* background-color: #eb8a67; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #ffffff;
}

.language-box {
  width: 100%;
  height: 45vh;
  background-color: #1a1a39;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}

.language {
  width: 10vw;
  height: 10vw;
  background-color: #d8f28a;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 10vw;
  margin: 10px;
}

.ego-form-input {
  width: 50vw;
  height: 40px;
  border-radius: 10px 10px 0px 0px;
  outline: none;
  border: none;
  background-color: #1a1a39;
  caret-color: #ffffff;
  color: #ffffff;
}

.navigate-to-prompt {
  width: 400px;
  height: 50px;
  cursor: pointer;
  /* position: absolute; */
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  margin: auto;
  z-index: 2;
}